<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Personal website of Alex Michael Berry." />
		<meta name="author" content="Alex Michael Berry">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
	    <title>{{title}}</title>
		<link rel="stylesheet" crossorigin href="/assets/index.css">
	</head>
	<body>
		<main>
			<h1>{{title}}</h1>
			{{content}}
			<a href="/">Home</a>
		</main>
	</body>
</html>
