---
import '../style/main.css';

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Personal website of Alex Michael Berry." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{frontmatter.title}</title>
	</head>
	<body>
		<main>
			<h1>{frontmatter.title}</h1>
			<slot />
			<a href="/">Home</a>
		</main>
	</body>
</html>
<style is:global>
</style>
